* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
    padding: 0px;
}

.border {
    border: 1px solid black;
}

.wrapper {
	margin: 15px;
	margin-bottom: 15px;
	background-color: #D3D3D3;
}

h1 {
    margin-bottom: 20px;
}

div>h3 {
    width: 30%;
    float: right;
    padding: 5px 10px;
    border-width: 0px 0px 1px 1px !important;
    background-color: #F5F5DC;
}

div>p {
    clear: right;
    padding: 15px;
}

/* Media Queries */
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}  

	.col-lg-4 {
		width: 33.3%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}  

	.col-md-6 {
		width: 50%;
	}

	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}  

	.col-sm-12 {
		width: 100%;
	}
}